@use 'partials/colors';
@import 'mixins/flex';
.container {
	width: 90%;
	max-width: 1440px;
	margin-inline: auto;
}

.inner-container {
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
}

.no-decoration {
	text-decoration: none;
	color: inherit;
}

.heading {
	font-family: 'Kelson', sans-serif;
}

button {
	--button-bg: var(--clr-primary);
	cursor: pointer;
	border: 0;
	border-radius: 6px;
	transition: background 0.3s ease-in-out;
	padding: 0.7rem 1.5rem;
	border: 2px solid transparent;
	color: var(--clr-white);

	&.btn-primary {
		--button-bg: var(--clr-secondary);
	}

	&.btn-secondary {
		--button-bg: var(--clr-text-light);
	}

	&:hover {
		background: transparent;
		border-color: var(--button-bg);
		color: var(--button-bg);
	}

	background: var(--button-bg);
}

.text-overlay {
	--overlay-color: var(--clr-primary);
	position: relative;

	&.dark-overlay {
		--overlay-color: var(--clr-dark);
	}

	&::before {
		content: '';
		position: absolute;
		height: 35px;
		width: 104%;
		bottom: 4px;
		left: -2%;
		z-index: -1;
		background: var(--overlay-color);
	}
}

.dash-underline {
	position: relative;

	&::before {
		content: '';
		bottom: 0;
	}
}

.green-lines {
	@include flex(flex-start, flex-start);
	gap: 5px;
	.line {
		padding: 3px 8px;
		background: var(--clr-primary);
	}
}

.small-text {
	color: var(--clr-gray);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px;
}

.section-heading {
	@extend .heading;
	font-size: 3.1rem;

	.green-lines {
		margin-top: 10px;
	}
}

.pointer {
	cursor: pointer;
}

.hover-up {
	transition: transform 0.3s ease-in-out;
	&:hover {
		transform: scale(1.05);
	}
}

.red-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--clr-secondary);
	outline: 1px solid var(--clr-secondary);
	display: inline-block;
	outline-offset: 3px;
}

.centered-section-heading {
	@extend .section-heading;
	text-align: center;
	color: var(--clr-heading);

	.green-lines {
		margin-top: 2rem;
		margin-inline: auto;
		width: min-content;
	}
}

.centered-text {
	text-align: center;
}

.relative {
	position: relative;
}

.hidden {
	display: none;
}

@media (max-width: 1100px) {
	.section-heading {
		font-size: 2.5rem;
	}

	.inner-container {
		padding-inline: 1.5rem;
		width: 80%;
	}
}

@media (max-width: 470px) {
	.inner-container {
		width: 100%;
	}
}
