@import '../mixins/flex';
.main-footer {
	padding-block: 6rem;
	background: var(--clr-white);
	color: #555a7a;
	.upper {
		@include flex(space-between);
		padding-bottom: 5rem;

		.right {
			p:first-child {
				font-size: 1.4rem;
			}
			p:last-child {
				font-size: 0.9rem;
				margin-top: 10px;
			}

			text-align: right;
		}
	}

	.bottom {
		@include flex(space-between);
		border-top: 2px solid var(--clr-border);
		padding-top: 2rem;
	}

	.logo {
		color: var(--clr-secondary);
		font-family: 'Kelson';
		font-size: 4rem;
		letter-spacing: -1px;
	}

	.socials {
		margin-top: 3rem;
		display: flex;
		gap: 10px;

		i {
			color: var(--clr-secondary);
			border-radius: 50%;

			font-size: 20px;
		}
	}

	@media (max-width: 1100px) {
		.upper {
			flex-direction: column;
			text-align: center;

			.right {
				margin-top: 40px;
				text-align: center;

				p:first-child {
					color: var(--clr-heading);
				}
			}
		}

		.bottom {
			flex-direction: column;
			gap: 25px;

			p:last-child {
				color: var(--clr-heading);
			}
		}
	}
}
