@import '../mixins/flex';

.advantages {
	background: var(--clr-heading);

	.content-holder {
		padding-top: 8rem;

		padding-bottom: 1rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.scooter-holder {
		position: relative;
		left: -100px;
		width: 151%;
		height: 94%;
	}

	img {
		width: 100%;
	}

	.section-heading,
	h3 {
		color: var(--clr-white);
	}

	.section-heading {
		margin-bottom: 4rem;
	}

	.green-lines {
		margin-top: 1.8rem;
	}

	.advantage {
		margin-block: 2rem;
	}

	.advantage-text {
		color: var(--clr-gray);
		font-size: 0.9rem;
		margin-top: 10px;
		width: 65%;
	}

	.btn-download {
		color: var(--clr-heading);

		&:hover {
			color: var(--clr-white);
		}
	}

	@media (max-width: 1300px) {
		.scooter-holder {
			width: 200%;
		}

		.content-holder {
			padding-inline: 1.5rem;
		}
	}

	@media (max-width: 1100px) {
		.content-holder {
			grid-template-columns: 1fr;
		}

		.scooter-holder {
			width: 180%;
			top: 80px;
		}
	}

	@media (min-width: 600px) and (max-width: 1100px) {
		.scooter-holder {
			max-width: 800px;
		}
	}
}
