@import '../mixins/flex';
.our-scooters .img-holder {
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
}
.scooters-grid {
	display: grid;
	grid-template-areas: 'first second' 'first third' 'first third';
	grid-column-gap: 20rem;
	margin-block: 6rem;
	padding-block: 6rem;
}

.first-part {
	grid-area: first;
	padding-bottom: 7rem;
}

.second-part {
	grid-area: second;
	color: #555a7a;
}
.third-part {
	grid-area: third;
	.specification-card {
		justify-content: flex-start;
	}

	p {
		margin-left: 20px;
	}
}

.specification-card {
	background: var(--clr-white);
	border-radius: 12px;

	padding: 2rem 2rem;

	@include flex(flex-end);

	color: #555a7a;
	p {
		margin-right: 20px;
	}

	&:not(:first-child) {
		margin-block: 2rem;
	}
}

@media (max-width: 1100px) {
	.first-part {
		padding: 0;
	}

	.second-part {
		margin-bottom: 12rem;
	}

	.scooters-grid {
		grid-template-areas: 'second' 'first' 'third';
	}

	.specification-card {
		justify-content: flex-start;
		p {
			margin-left: 20px;
		}
	}

	.first-part .specification-card {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	.our-scooters .img-holder {
		left: -13%;
		top: 34%;
		transform: translate(0);
		width: 800px;
		img {
			width: 100%;
		}
	}
}

@media (min-width: 1500px) {
	.specification-card {
		width: 400px;
	}
}
